	*
{
	margin:0;
	padding:0
}


body
{
	padding :0;
	margin:0;
	font-family :'Lato', serif;
	font-size: 18px;

}


div
{
    display:block;
}

#header {
    height: 300px;
    
}
#content
{
	position : absolute;
	top : 20%;
    left : 15%;
	width : 90%;
	padding : 0px;
}

.main{
    margin:0 auto;
    max-width:1000px;
     padding: 0 ;
   
}

 #MainNav ul {
    overflow: hidden;
    background-color:#222;
    border-radius: 10px 5px 0 0;
    list-style:none;
	height :5%;
	position:relative;
	top:-0.4px;
	border-shadow:#333;
}


    
 

.btnlogin
{
	background-image:url('Games.jpg');
}
#MainNav {
   position:relative;
   display:block;
   left:-10%;
   width : 65%;
   font-size:3px;
   font-family :"Comic Sans  MS", cursive;
   padding:0;
   margin:0 auto;  
     
}
#MainNav li{
	display: inline-block;
    text-transform: uppercase;

   box-shadow: 1px 0 0 #333;
    border-bottom: 4px solid #333;
    letter-spacing: normal;
     box-shadow: 1px 0 0 #333;
    border-bottom: 4px solid #333;
}

#MainNav a{
        padding: 0 1.5em;
    font-size: 5px;
    line-height: 34px;
    transition: color 0s;
        font-weight: bold;
    
}
#MainNav ul ul {
	position:absolute;
	visibility : hidden;
}
#MainNav ul li:hover{
	background-color:grey
}
#MainNav ul li:hover ul {
	visibility :visible;
}
#MainNav ul li a,visited{
	color:#EEE;
	display: block;
	padding : 5px;
	text-decoration: none;
}



.inner{
    
	width :100%;
    height: 400px;
    position: relative;
	border-size:5px solid;
	border-radius:5px;
	background-color:#222;
    
}


#GameReviewInformation
{  
	font-size: 20px;
	font-weight : bold;
	font-family :"Comic Sans  MS", cursive;
	position : relative;
	width : 40%;
	top :70px;
	left : 20%;
	color : #FFF;
}

.Review
{
	background-color:#222;
	height :10px;
}
.uppernav
{
	width : 50%;
	margin: 0 auto;
	text-align:center;
	font-size:20px;
	font-family :'Copperplate', Fantasy;
	background-color:#333;
	
}
.uppernav ul
{
	list-style : none;
	padding:20px 0;
	margin:0;
	position :relative;
	font-size : 20px;
	font-family :"Comic Sans  MS", cursive;
}
.uppernav ul li:hover{
	background-color:#333
}
.uppernav ul li a,visited{
	color:#ccc;
	display: block;
	padding : 5px;
	text-decoration: none
}
#btn_Comment
{

    cursor:pointer;
    border:none;
    background-color:transparent;
    position:relative;
    left:35%;
    top:10%;
   top:20px;
}
.ReviewerProfile
{
	
	color : #ccc;
}
.ReviewComments
{
	
	color : #ccc;
}
.UserProfile
{
	color : #ccc;
}

.Commentsdiv
{
	background-color:#222;
	width :100% ;
	height:100%;
}

.Comments {
    background-color: #333;
    width: 100%;
    height:200px;
    position: relative;
    top: 10px;
    
}